In [37]:
import mysql
import pandas as pd
import sqlalchemy
import pickle

In [38]:
engine=sqlalchemy.create_engine('mysql+pymysql://root:123456789@localhost:3306/users')

In [39]:
def index():
    L=[]
    for i in range(4808):
        L.append(i)
    return L

In [40]:
L = index()

In [41]:
select=pickle.load(open('../select.pkl', 'rb'))
select=pd.DataFrame(select,columns=['movie_id','title','genres','cast','popularity'])

In [42]:
select.insert(0,'index',L)

In [43]:
select['genres']=select['genres'].apply(lambda x:"$".join(x))
select['cast']=select['cast'].apply(lambda x:"$".join(x))

In [44]:
select.head()

,index,movie_id,title,genres,cast,popularity
546,0,211672,Minions,Family$Animation$Adventure$Comedy,Sandra Bullock$Jon Hamm$Michael Keaton$Allison...,875.581305
95,1,157336,Interstellar,Adventure$Drama$Science Fiction,Matthew McConaughey$Jessica Chastain$Anne Hath...,724.247784
788,2,293660,Deadpool,Action$Adventure$Comedy,Ryan Reynolds$Morena Baccarin$Ed Skrein$T.J. M...,514.569956
94,3,118340,Guardians of the Galaxy,Action$Science Fiction$Adventure,Chris Pratt$Zoe Saldana$Dave Bautista$Vin Diesel,481.098624
127,4,76341,Mad Max: Fury Road,Action$Adventure$Science Fiction$Thriller,Tom Hardy$Charlize Theron$Nicholas Hoult$Hugh ...,434.278564

In [45]:
select.to_sql('select', engine)

4808

In [47]:
popular = pickle.load(open('../popular.pkl', 'rb'))
popular = pd.DataFrame(popular, columns= ['movie_id','title','genres','release_date','popularity'])
popular.insert(0, 'index', L)
popular['genres'] = popular['genres'].apply(lambda x: "$".join(x))
popular.head()

,index,movie_id,title,genres,release_date,popularity
546,0,211672,Minions,Family$Animation$Adventure$Comedy,2015,875.581305
95,1,157336,Interstellar,Adventure$Drama$Science Fiction,2014,724.247784
788,2,293660,Deadpool,Action$Adventure$Comedy,2016,514.569956
94,3,118340,Guardians of the Galaxy,Action$Science Fiction$Adventure,2014,481.098624
127,4,76341,Mad Max: Fury Road,Action$Adventure$Science Fiction$Thriller,2015,434.278564

In [48]:
popular.to_sql('popular', engine)

4808

In [51]:
dataset = pickle.load(open('../dataset.pkl', 'rb'))
movies = pd.DataFrame(dataset, columns= ['movie_id', 'title', 'tagline', 'overview', 'genres', 'keywords', 'cast', 'crew', 'popularity', 'release_date','poster_path'])
movies.insert(0, 'index', L)
movies['genres'] = movies['genres'].apply(lambda x: "$".join(x))
movies['keywords'] = movies['keywords'].apply(lambda x: "$".join(x))
movies['cast'] = movies['cast'].apply(lambda x: "$".join(x))
movies['crew'] = movies['crew'].apply(lambda x: "$".join(x))
movies.head()

,index,movie_id,title,tagline,overview,genres,keywords,cast,crew,popularity,release_date,poster_path
0,0,19995,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",Action$Adventure$Fantasy$Science Fiction,culture clash$future$space war$space colony$so...,Sam Worthington$Zoe Saldana$Sigourney Weaver$S...,James Cameron,150.437577,2009,https://image.tmdb.org/t/p/original/jRXYjXNq0C...
1,1,285,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",Adventure$Fantasy$Action,ocean$drug abuse$exotic island$east india trad...,Johnny Depp$Orlando Bloom$Keira Knightley$Stel...,Gore Verbinski,139.082615,2007,https://image.tmdb.org/t/p/original/2YMnBRh8F6...
2,2,206647,Spectre,A Plan No One Escapes,A cryptic message from Bond’s past sends him o...,Action$Adventure$Crime,spy$based on novel$secret agent$sequel$mi6$bri...,Daniel Craig$Christoph Waltz$Léa Seydoux$Ralph...,Sam Mendes,107.376788,2015,https://image.tmdb.org/t/p/original/zj8ongFhtW...
3,3,49026,The Dark Knight Rises,The Legend Ends,Following the death of District Attorney Harve...,Action$Crime$Drama$Thriller,dc comics$crime fighter$terrorist$secret ident...,Christian Bale$Michael Caine$Gary Oldman$Anne ...,Christopher Nolan,112.312950,2012,https://image.tmdb.org/t/p/original/85cWkCVfti...
4,4,49529,John Carter,"Lost in our world, found in another.","John Carter is a war-weary, former military ca...",Action$Adventure$Science Fiction,based on novel$mars$medallion$space travel$pri...,Taylor Kitsch$Lynn Collins$Samantha Morton$Wil...,Andrew Stanton,43.926995,2012,https://image.tmdb.org/t/p/original/7GSSyUUgUE...

In [52]:
movies.to_sql('movies', engine)

4808